node-red/Flow-Leitstelle.txt
[{"id":"dfd6c51b.4be8e8","type":"http in","z":"d66b1014.97ba38","name":"register","url":"/register","method":"get","swaggerDoc":"","x":90,"y":111.99999237060547,"wires":[["42f33af6.3273ac"]]},{"id":"4c7c8790.42a8c","type":"http response","z":"d66b1014.97ba38","name":"register response","x":982,"y":71.99998474121094,"wires":[]},{"id":"bc68c084.9f756","type":"function","z":"d66b1014.97ba38","name":"initialize System","func":"//Initialize new objects which later contain information\nvar vehicles = [];\n//var jobs = [];\nvar tasks = [];\nvar containers = [];\n//var tasknumber = [];\nvar sectors = [];\n\nflow.set('vehicles', vehicles);\n//flow.set('jobs', jobs);\nflow.set('tasks', tasks);\nflow.set('sectors', sectors);\nflow.set('containers', containers);\n//flow.set('tasknumber', tasknumber);\n\nmsg.payload = \"ready\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":313.0000305175781,"y":288,"wires":[["b3edeb89.8f1db8","1bd005a.f8dcf7a"]]},{"id":"9bcc18d9.c13f7","type":"json","z":"d66b1014.97ba38","name":"","x":558,"y":112.99999237060547,"wires":[["4c7c8790.42a8c","b3edeb89.8f1db8","73e62f0d.63f1e8","d5d8a5dd.11b458","e0d078f9.22439","d8b2b6b8.3345d"]]},{"id":"3a126624.62327a","type":"ui_button","z":"d66b1014.97ba38","name":"","group":"6ff28799.50a458","order":2,"width":"0","height":"0","passthru":false,"label":"clear register","color":"silver","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":123,"y":288,"wires":[["bc68c084.9f756"]]},{"id":"255d001a.893088","type":"ui_template","z":"d66b1014.97ba38","group":"6ff28799.50a458","name":"Table1","order":3,"width":"10","height":"6","format":"<style>\n    {{msg.style}}\n</style>\n\n<table>\n    <tr>\n    <th>ID</th>\n    <th>IP</th>\n    <th>State</th>\n    <th>Task</th>\n    <th>Sector</th>\n  </tr>\n  <tr ng-repeat=\"obj in msg.vehicles\">\n    <td>{{ obj.id }}</td>\n    <td>{{ obj.ip }}</td>\n    <td>{{ obj.state}}</td>\n    <td>{{ obj.task}}</td>\n    <td>{{ obj.sector}}</td>\n  </tr>\n</table>","storeOutMessages":false,"fwdInMessages":true,"x":971,"y":391.0000305175781,"wires":[[]]},{"id":"b3edeb89.8f1db8","type":"template","z":"d66b1014.97ba38","name":"define table in css","field":"style","fieldType":"msg","format":"html","syntax":"mustache","template":"table {\n    color: green;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */","x":802,"y":390.0000305175781,"wires":[["255d001a.893088"]]},{"id":"1bd005a.f8dcf7a","type":"ui_gauge","z":"d66b1014.97ba38","name":"","group":"6ff28799.50a458","order":4,"width":0,"height":0,"gtype":"wave","title":"","label":"","format":"{{value}}","min":0,"max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":951.11669921875,"y":288.6666564941406,"wires":[]},{"id":"ac3f35d0.6c6fb8","type":"function","z":"d66b1014.97ba38","name":"filter count","func":"var count = msg.count;\nmsg.payload = count;\nreturn msg;","outputs":1,"noerr":0,"x":541.1165771484375,"y":169.30001831054688,"wires":[["1bd005a.f8dcf7a"]]},{"id":"d60c33e5.a4d098","type":"ui_template","z":"d66b1014.97ba38","group":"6ff28799.50a458","name":"Title Column 1","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n    <style>\n        div {height:50px;padding:16px;width:100%;}\n        h1 {\n            position: absolute;\n            left: 0;\n            top: -10%;\n            width: 100%;\n            text-align: center;\n            \n        }\n    </style>\n    <body>\n        \n        <h1 style=\"color:green\">\n            Vehicle data\n        </h1>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"x":567.11669921875,"y":64.3333969116211,"wires":[[]]},{"id":"42f33af6.3273ac","type":"function","z":"d66b1014.97ba38","name":"register function","func":"//Save incoming parameters to new object\nvar newVehicle = {\n    'id' : msg.payload.id,\n    'ip' : msg.payload.ip,\n    'state': msg.payload.state,\n    'task': msg.payload.task,\n    'sector': msg.payload.sector,\n}\n\n//Get object from flow to push new information inside existing object\nvar vehicles = flow.get('vehicles');\nvehicles.push(newVehicle);\nres = {\n    'numVehicles' : vehicles.length,\n    'vehicles' : vehicles\n}\nmsg.count = vehicles.length;\nmsg.vehicles = vehicles;\nmsg.payload = res;\nreturn msg;","outputs":1,"noerr":0,"x":295.0000305175781,"y":110.99999237060547,"wires":[["9bcc18d9.c13f7","ac3f35d0.6c6fb8","1d1b105a.61fb9"]]},{"id":"38ee13f.c6933ec","type":"ui_template","z":"d66b1014.97ba38","group":"f3286119.732128","name":"Title Column 3","order":1,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n    <style>\n        div {height:50px;padding:16px;width:100%;}\n        h1 {\n            position: absolute;\n            left: 0;\n            top: -10%;\n            width: 100%;\n            text-align: center;\n            \n        }\n    </style>\n    <body>\n        \n        <h1 style=\"color:green\">\n            Control\n        </h1>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"x":2223.8499755859375,"y":61.85009765625,"wires":[[]]},{"id":"cffe69f3.e7e6d","type":"http request","z":"d66b1014.97ba38","name":"","method":"GET","ret":"txt","url":"http://192.168.1.3:80/{{{payload}}}","tls":"","x":2222.11669921875,"y":259.85009765625,"wires":[["52b373e.a27c58c","6becafd.bdf7dd"]]},{"id":"52b373e.a27c58c","type":"debug","z":"d66b1014.97ba38","name":"","active":true,"console":"false","complete":"false","x":2465.11669921875,"y":259.9833984375,"wires":[]},{"id":"94ef9de9.4263f8","type":"ui_template","z":"d66b1014.97ba38","group":"f3286119.732128","name":"Message from Idefix","order":2,"width":"10","height":"4","format":"<!DOCTYPE html>\n<html>\n    <style>\n        div {height:20px;padding:16px;width:100%;}\n        h1 {\n            position: absolute;\n            left: 0;\n            top: 80%;\n            width: 100%;\n            text-align: center;\n            \n        }\n    </style>\n    <body>\n        \n        <h1 style=\"color:green\">\n            Message from Idefix\n        </h1>\n        <div style=\"text-align:center;\" ng-bind-html=\"msg.payload\"></div>\n    </body>\n</html>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"x":2584,"y":699.5,"wires":[[]]},{"id":"6becafd.bdf7dd","type":"function","z":"d66b1014.97ba38","name":"Filter Message","func":"//Filter incoming message\nvar s = msg.payload;\nvar res = s.replace(\"<!DOCTYPE HTML>\", \"\");\nres = res.replace(\"<html>\", \"\");\nres = res.replace(\"</html>\", \"\");\nres = res.replace(\"\\n\", \"\");\nres = res.replace(\"\\n\", \"\");\nres = res.replace(\"\\n\", \"\");\nmsg.message = res;\n\nreturn msg;","outputs":1,"noerr":0,"x":2462,"y":312.5001220703125,"wires":[["94ef9de9.4263f8"]]},{"id":"dd09f6ba.6fa1","type":"ui_button","z":"d66b1014.97ba38","name":"","group":"f3286119.732128","order":3,"width":0,"height":0,"passthru":false,"label":"Clear messagefield","color":"","bgcolor":"","icon":"","payload":" ","payloadType":"str","topic":"","x":1640,"y":704.5,"wires":[["94ef9de9.4263f8"]]},{"id":"48646f83.d4a69","type":"ui_button","z":"d66b1014.97ba38","name":"","group":"f3286119.732128","order":10,"width":"5","height":"1","passthru":false,"label":"Stop Idefix","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":1607,"y":601.5,"wires":[["cffe69f3.e7e6d"]]},{"id":"c5d48f84.488dd","type":"ui_button","z":"d66b1014.97ba38","name":"","group":"f3286119.732128","order":12,"width":"3","height":"1","passthru":false,"label":"Ask for State","color":"","bgcolor":"","icon":"","payload":"state","payloadType":"str","topic":"","x":1606,"y":390.5,"wires":[["cffe69f3.e7e6d","b7d08a22.4621a8"]]},{"id":"3249a3e7.7aa71c","type":"ui_button","z":"d66b1014.97ba38","name":"","group":"f3286119.732128","order":13,"width":"4","height":"1","passthru":false,"label":"Ask for Task","color":"","bgcolor":"","icon":"","payload":"task","payloadType":"str","topic":"","x":1607,"y":434.5,"wires":[["cffe69f3.e7e6d","b7d08a22.4621a8"]]},{"id":"87b425b4.781de","type":"comment","z":"d66b1014.97ba38","name":"Column 2","info":"","x":1296,"y":372.9999694824219,"wires":[]},{"id":"2210593.30b5e26","type":"comment","z":"d66b1014.97ba38","name":"Column 3","info":"","x":2224,"y":20,"wires":[]},{"id":"ccab3f46.72a7b","type":"http in","z":"d66b1014.97ba38","name":"","url":"/vehicleState","method":"get","swaggerDoc":"","x":129,"y":401.0000305175781,"wires":[["517561f4.90436"]]},{"id":"517561f4.90436","type":"function","z":"d66b1014.97ba38","name":"state function","func":"//Same principle as in register function\nvar states = [];\nnewState = {\n    'id' : msg.payload.id,\n    'state': msg.payload.state,\n}\n\nvar vehicles = flow.get('vehicles');\nstates.push(newState);\nmsg.state = states;\nmsg.vehicles = vehicles;\n//Filter Position of the Object in the existing array\nvar j = 0;\nfor(var i = 0; i < vehicles.length; i++) {\n    if (msg.vehicles[i].id == msg.state[0].id){\n        msg.arrayNumber = i;\n    }\n}\nmsg.vehicles[msg.arrayNumber].state = states[0].state;\n\nmsg.payload = newState;\nreturn msg;","outputs":1,"noerr":0,"x":377,"y":398.0000305175781,"wires":[["8817b43e.ab6d"]]},{"id":"8817b43e.ab6d","type":"json","z":"d66b1014.97ba38","name":"","x":561,"y":397.0000305175781,"wires":[["fe941dde.4b407","b3edeb89.8f1db8","78031dd7.5e8cf4","94957269.ec8d68","3f225bfc.77f024","852aa329.0b0a5"]]},{"id":"fe941dde.4b407","type":"http response","z":"d66b1014.97ba38","name":"state response","x":977,"y":447.0000305175781,"wires":[]},{"id":"ebcca39a.541b8","type":"ui_button","z":"d66b1014.97ba38","name":"","group":"f3286119.732128","order":4,"width":"5","height":"1","passthru":false,"label":"Yellow to port 1","color":"grey","bgcolor":"yellow","icon":"","payload":"go?color=yellow&port=1","payloadType":"str","topic":"","x":1619,"y":235.5,"wires":[["cffe69f3.e7e6d","30757a84.f8d1f6"]]},{"id":"71e26b24.ded71c","type":"ui_button","z":"d66b1014.97ba38","name":"","group":"f3286119.732128","order":5,"width":"5","height":"1","passthru":false,"label":"Red to port 1","color":"","bgcolor":"red","icon":"","payload":"go?color=red&port=1","payloadType":"str","topic":"","x":1608,"y":272.5,"wires":[["cffe69f3.e7e6d","d3c25caf.67088"]]},{"id":"9639832e.72b65","type":"ui_button","z":"d66b1014.97ba38","name":"","group":"f3286119.732128","order":6,"width":"5","height":"1","passthru":false,"label":"Yellow to port 2","color":"grey","bgcolor":"yellow","icon":"","payload":"go?color=yellow&port=2","payloadType":"str","topic":"","x":1617,"y":308.5,"wires":[["cffe69f3.e7e6d","1dade567.ddd363"]]},{"id":"daea866a.4966b8","type":"ui_button","z":"d66b1014.97ba38","name":"","group":"f3286119.732128","order":7,"width":"5","height":"1","passthru":false,"label":"Red to port 2","color":"","bgcolor":"red","icon":"","payload":"go?color=red&port=2","payloadType":"str","topic":"","x":1607,"y":349.5,"wires":[["cffe69f3.e7e6d","6d46c037.334b2"]]},{"id":"5f46eb32.0d4c04","type":"http in","z":"d66b1014.97ba38","name":"","url":"/vehicleTask","method":"get","swaggerDoc":"","x":109,"y":690,"wires":[["3fe08dcd.985302"]]},{"id":"3fe08dcd.985302","type":"function","z":"d66b1014.97ba38","name":"task function","func":"var tasks = [];\nnewTask = {\n    'id' : msg.payload.id,\n    'task': msg.payload.task,\n}\n\nvar vehicles = flow.get('vehicles');\ntasks.push(newTask);\nmsg.task = tasks;\nmsg.vehicles = vehicles;\nvar j = 0;\nfor(var i = 0; i < vehicles.length; i++) {\n    if (msg.vehicles[i].id == msg.task[0].id){\n        msg.arrayNumber = i;\n    }\n}\nmsg.vehicles[msg.arrayNumber].task = tasks[0].task;\n\nmsg.payload = newTask;\nreturn msg;","outputs":1,"noerr":0,"x":338,"y":690,"wires":[["49d59ea0.7b23e"]]},{"id":"49d59ea0.7b23e","type":"json","z":"d66b1014.97ba38","name":"","x":559,"y":688,"wires":[["af82180a.7c4cb8","b3edeb89.8f1db8","b58e13f4.01096"]]},{"id":"af82180a.7c4cb8","type":"http response","z":"d66b1014.97ba38","name":"task response","x":976,"y":690,"wires":[]},{"id":"b5eeacde.8a7728","type":"ui_template","z":"d66b1014.97ba38","group":"fdf64500.c336b","name":"picture of playfield","order":0,"width":"10","height":"15","format":"<html>\n<style>\n#canvas_image\n{\n   background-image:url('/Spielfeld_V2_mit_Sektoren.jpg');\n    background-repeat:no-repeat;\n    background-size:contain;\n    height: 100%;\n\twidth: 100%;\n\tbackground-position:center;\n \n}\n</style>\n<body>\n<canvas id=\"canvas_image\"></canvas>\n<script>\n\n\n\n</script>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"x":1302,"y":470.9999694824219,"wires":[[]]},{"id":"b7d08a22.4621a8","type":"http request","z":"d66b1014.97ba38","name":"","method":"GET","ret":"txt","url":"http://192.168.1.27:80/{{{payload}}}","tls":"","x":2225,"y":348.5,"wires":[["f09d6702.05a93"]]},{"id":"f09d6702.05a93","type":"function","z":"d66b1014.97ba38","name":"Filter Message","func":"//Filter incoming message\nvar s = msg.payload;\nvar res = s.replace(\"<!DOCTYPE HTML>\", \"\");\nres = res.replace(\"<html>\", \"\");\nres = res.replace(\"</html>\", \"\");\nres = res.replace(\"\\n\", \"\");\nres = res.replace(\"\\n\", \"\");\nres = res.replace(\"\\n\", \"\");\nmsg.message = res;\n\nreturn msg;","outputs":1,"noerr":0,"x":2469,"y":496.5,"wires":[["b8ee9da0.fdfba"]]},{"id":"b8ee9da0.fdfba","type":"ui_template","z":"d66b1014.97ba38","group":"f3286119.732128","name":"Message from Obelix","order":15,"width":"10","height":"4","format":"<!DOCTYPE html>\n<html>\n    <style>\n        div {height:20px;padding:16px;width:100%;}\n        h1 {\n            position: absolute;\n            left: 0;\n            top: -10%;\n            width: 100%;\n            text-align: center;\n            \n        }\n    </style>\n    <body>\n        \n        <h1 style=\"color:green\">\n            Message from Obelix\n        </h1>\n        <div style=\"text-align:center;\" ng-bind-html=\"msg.payload\"></div>\n    </body>\n</html>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"x":2579,"y":745.5,"wires":[[]]},{"id":"cf7dbc93.a949c","type":"ui_button","z":"d66b1014.97ba38","name":"","group":"f3286119.732128","order":8,"width":"5","height":"1","passthru":false,"label":"Start Idefix","color":"","bgcolor":"","icon":"","payload":"start?speed=65","payloadType":"str","topic":"","x":1607,"y":520.5,"wires":[["cffe69f3.e7e6d"]]},{"id":"61024b76.ad522c","type":"http in","z":"d66b1014.97ba38","name":"","url":"/vehicleSector","method":"get","swaggerDoc":"","x":120,"y":788,"wires":[["21b20cef.05a984"]]},{"id":"21b20cef.05a984","type":"function","z":"d66b1014.97ba38","name":"sector function","func":"var sectors = [];\nnewSector = {\n    'id' : msg.payload.id,\n    'sector': msg.payload.sector,\n}\n\nvar vehicles = flow.get('vehicles');\nsectors.push(newSector);\nmsg.sector = sectors;\nmsg.vehicles = vehicles;\nvar j = 0;\nfor(var i = 0; i < vehicles.length; i++) {\n    if (msg.vehicles[i].id == msg.sector[0].id){\n        msg.arrayNumber = i;\n    }\n}\nmsg.vehicles[msg.arrayNumber].sector = sectors[0].sector;\n\nmsg.payload = newSector;\nreturn msg;\n","outputs":1,"noerr":0,"x":347,"y":787,"wires":[["fc0ee7e5.15a0f"]]},{"id":"fc0ee7e5.15a0f","type":"json","z":"d66b1014.97ba38","name":"","x":552,"y":785,"wires":[["5f028935.509d98","b3edeb89.8f1db8","6f2e5958.86a53"]]},{"id":"5f028935.509d98","type":"http response","z":"d66b1014.97ba38","name":"sector response","x":987,"y":795,"wires":[]},{"id":"795468d5.63a17","type":"ui_button","z":"d66b1014.97ba38","name":"","group":"f3286119.732128","order":14,"width":"3","height":"1","passthru":false,"label":"Ask for Sector","color":"","bgcolor":"","icon":"","payload":"sector","payloadType":"str","topic":"","x":1617,"y":476.5,"wires":[["b7d08a22.4621a8","cffe69f3.e7e6d"]]},{"id":"aeadbc53.25f5d8","type":"ui_button","z":"d66b1014.97ba38","name":"","group":"f3286119.732128","order":9,"width":"5","height":"1","passthru":false,"label":"Start Obelix","color":"","bgcolor":"","icon":"","payload":"start?speed=65","payloadType":"str","topic":"","x":1606,"y":563.5,"wires":[["b7d08a22.4621a8"]]},{"id":"5c1a97e.d53dee8","type":"ui_button","z":"d66b1014.97ba38","name":"","group":"f3286119.732128","order":11,"width":"5","height":"1","passthru":false,"label":"Stop Obelix","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":1605,"y":642.5,"wires":[["b7d08a22.4621a8"]]},{"id":"1d1b105a.61fb9","type":"function","z":"d66b1014.97ba38","name":"counter function","func":"var count = msg.count;\nif (count > 1) {\n    msg.payload = \"count?number=\" + count;\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"x":1664.0000305175781,"y":126,"wires":[["58a98803.a099f8","4e881fbe.bad3f8","d862981c.b9f178"]]},{"id":"58a98803.a099f8","type":"debug","z":"d66b1014.97ba38","name":"Counterdebug","active":true,"console":"false","complete":"payload","x":1949.0000305175781,"y":92,"wires":[]},{"id":"4e881fbe.bad3f8","type":"stoptimer","z":"d66b1014.97ba38","duration":"5","units":"Second","payloadtype":"num","payloadval":"","name":"","x":1951.0000305175781,"y":134,"wires":[["cffe69f3.e7e6d"],[]]},{"id":"d862981c.b9f178","type":"stoptimer","z":"d66b1014.97ba38","duration":"5","units":"Second","payloadtype":"num","payloadval":"","name":"","x":1952.0000305175781,"y":178,"wires":[["b7d08a22.4621a8"],[]]},{"id":"6d46c037.334b2","type":"stoptimer","z":"d66b1014.97ba38","duration":"5","units":"Second","payloadtype":"num","payloadval":"","name":"","x":2137,"y":634.5,"wires":[["b7d08a22.4621a8"],[]]},{"id":"1dade567.ddd363","type":"stoptimer","z":"d66b1014.97ba38","duration":"5","units":"Second","payloadtype":"num","payloadval":"","name":"","x":2138,"y":591.5,"wires":[["b7d08a22.4621a8"],[]]},{"id":"d3c25caf.67088","type":"stoptimer","z":"d66b1014.97ba38","duration":"5","units":"Second","payloadtype":"num","payloadval":"","name":"","x":2135,"y":545.5,"wires":[["b7d08a22.4621a8"],[]]},{"id":"30757a84.f8d1f6","type":"stoptimer","z":"d66b1014.97ba38","duration":"5","units":"Second","payloadtype":"num","payloadval":"","name":"","x":2133,"y":500.5,"wires":[["b7d08a22.4621a8"],[]]},{"id":"78031dd7.5e8cf4","type":"debug","z":"d66b1014.97ba38","name":"","active":true,"console":"false","complete":"payload","x":966,"y":494,"wires":[]},{"id":"94957269.ec8d68","type":"debug","z":"d66b1014.97ba38","name":"","active":true,"console":"false","complete":"vehicles.0.id","x":987,"y":538,"wires":[]},{"id":"3f225bfc.77f024","type":"debug","z":"d66b1014.97ba38","name":"","active":true,"console":"false","complete":"state.0.id","x":978,"y":582,"wires":[]},{"id":"852aa329.0b0a5","type":"debug","z":"d66b1014.97ba38","name":"","active":true,"console":"false","complete":"vehicles","x":979,"y":632,"wires":[]},{"id":"73e62f0d.63f1e8","type":"debug","z":"d66b1014.97ba38","name":"","active":true,"console":"false","complete":"vehicles.0","x":972,"y":110.99999237060547,"wires":[]},{"id":"d5d8a5dd.11b458","type":"debug","z":"d66b1014.97ba38","name":"","active":true,"console":"false","complete":"payload","x":965,"y":244,"wires":[]},{"id":"e0d078f9.22439","type":"debug","z":"d66b1014.97ba38","name":"","active":true,"console":"false","complete":"count","x":964,"y":157,"wires":[]},{"id":"d8b2b6b8.3345d","type":"debug","z":"d66b1014.97ba38","name":"","active":true,"console":"false","complete":"vehicles","x":974,"y":201,"wires":[]},{"id":"6f2e5958.86a53","type":"debug","z":"d66b1014.97ba38","name":"","active":true,"console":"false","complete":"payload","x":976,"y":847,"wires":[]},{"id":"b58e13f4.01096","type":"debug","z":"d66b1014.97ba38","name":"","active":true,"console":"false","complete":"payload","x":967,"y":737,"wires":[]},{"id":"a1ce2637.60baa","type":"ui_template","z":"d66b1014.97ba38","group":"fdf64500.c336b","name":"Title Column 2","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n    <style>\n        div {height:50px;padding:16px;width:100%;}\n        h1 {\n            position: absolute;\n            left: 0;\n            top: -10%;\n            width: 100%;\n            text-align: center;\n            \n        }\n    </style>\n    <body>\n        \n        <h1 style=\"color:green\">\n            Playfield\n        </h1>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"x":1298.8499755859375,"y":428.8499755859375,"wires":[[]]},{"id":"65299342.1293bc","type":"comment","z":"d66b1014.97ba38","name":"Column 1","info":"","x":562.8499755859375,"y":24,"wires":[]},{"id":"2e82f77c.95c81","type":"inject","z":"d66b1014.97ba38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":137.11666870117188,"y":250.01669311523438,"wires":[["bc68c084.9f756"]]},{"id":"28f1d9d1.ef1d8e","type":"ui_button","z":"d66b1014.97ba38","name":"","group":"f3286119.732128","order":16,"width":0,"height":0,"passthru":false,"label":"Clear messagefield","color":"","bgcolor":"","icon":"","payload":" ","payloadType":"str","topic":"","x":1628,"y":746,"wires":[["b8ee9da0.fdfba"]]},{"id":"6ff28799.50a458","type":"ui_group","z":"","name":" ","tab":"6ed6f8fe.9c6f78","order":1,"disp":true,"width":"10"},{"id":"f3286119.732128","type":"ui_group","z":"","name":" ","tab":"6ed6f8fe.9c6f78","order":3,"disp":true,"width":"10"},{"id":"fdf64500.c336b","type":"ui_group","z":"","name":" ","tab":"6ed6f8fe.9c6f78","order":2,"disp":true,"width":"10"},{"id":"6ed6f8fe.9c6f78","type":"ui_tab","z":"","name":"Network","icon":"fa-Browser","order":1}]